@import "tailwindcss";

@theme {
  --font-sans: "Plus Jakarta Sans", sans-serif;
  --font-serif: "Playfair Display", serif;
}

body {
  font-family: var(--font-sans);
  @apply text-slate-900 bg-slate-50;
}

@layer utilities {
  .hide-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .hide-scrollbar::-webkit-scrollbar {
    display: none;
  }
}